---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thoughtbot/factory_bot/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"836daca0b464b941d9de2702c48d00f1228afc91db93cbd624f0a70f98aa0b81"
      Last-Modified:
      - Wed, 13 Nov 2024 11:54:43 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21829/contributors?page=2>; rel="next",
        <https://api.github.com/repositories/21829/contributors?page=8>; rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1731574324'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"joshuaclayton","id":1574,"node_id":"MDQ6VXNlcjE1NzQ=","avatar_url":"https://avatars.githubusercontent.com/u/1574?v=4","gravatar_id":"","url":"https://api.github.com/users/joshuaclayton","html_url":"https://github.com/joshuaclayton","followers_url":"https://api.github.com/users/joshuaclayton/followers","following_url":"https://api.github.com/users/joshuaclayton/following{/other_user}","gists_url":"https://api.github.com/users/joshuaclayton/gists{/gist_id}","starred_url":"https://api.github.com/users/joshuaclayton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joshuaclayton/subscriptions","organizations_url":"https://api.github.com/users/joshuaclayton/orgs","repos_url":"https://api.github.com/users/joshuaclayton/repos","events_url":"https://api.github.com/users/joshuaclayton/events{/privacy}","received_events_url":"https://api.github.com/users/joshuaclayton/received_events","type":"User","user_view_type":"public","site_admin":false,"contributions":436},{"login":"jferris","id":7591,"node_id":"MDQ6VXNlcjc1OTE=","avatar_url":"https://avatars.githubusercontent.com/u/7591?v=4","gravatar_id":"","url":"https://api.github.com/users/jferris","html_url":"https://github.com/jferris","followers_url":"https://api.github.com/users/jferris/followers","following_url":"https://api.github.com/users/jferris/following{/other_user}","gists_url":"https://api.github.com/users/jferris/gists{/gist_id}","starred_url":"https://api.github.com/users/jferris/starred{/[...]
